{% extends 'base(login).html' %}
{% load static %}

{% block title %}ورود/ثبت نام{% endblock %}

{% block content %}
<div class="yc user-panel-form">
        <div class="panel-main">
            <div class="head yc">
                <a href="{% url 'Home' %}"><img src="{% static 'x-logo/logo.png' %}" title="ایوافیلم" alt="ایوافیلم" class="yc logo"></a>
                <a href="{% url 'Signup' %}" class="left yc-fff switch-btn" title="ورود">ورود</a>
            </div>
            <div class="form yc">
                <h1 class="yc yc-fff yc-20 yc-bold">بازیابی رمز عبور</h1>
                <form autocomplete="off" class="yc" method="post" action="">
                  {% csrf_token %}
                    <h2 class="yc yc-13 yc-400">لطفا رمز جدید را وارد کنید</h2>
                    <input autocomplete="false" type="password" id="txtPassword" name="pass" minlength="8" placeholder="رمز عبور" class="input" required>
                    <input autocomplete="false" type="password" id="txtConfirmPassword" name="repass" placeholder="تکرار رمز عبور" class="input" required>
                    <p dir="rtl" style="color: whitesmoke" class="yc-16">رمزعبور باید دارای شرایط زیر باشد:</p>
                    <p dir="rtl" style="color: whitesmoke" class="yc-14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - رمز عبور حداقل 8 کاراکتر باشد.</p>
                    <p dir="rtl" style="color: whitesmoke" class="yc-14">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - رمزعبور باید ترکیبی از حرف و عدد باشد.</p>
                    <input  class="d-none" style="display:none;" value="{{ state }}" type="text" name="state" id="state">
                    <input type="text" id="mobile" name="mobile" value="{{ mobile }}" placeholder="شماره موبایل"  class="d-none" style="display:none;">
                    {% if alert %}
                        {% if 'خطا' in alert %}
                            <div class="panel-alert">
                                {{ alert }}
                            </div>
                        {% else %}
                            <div class="panel-alert-success">
                                {{ alert }}
                            </div>
                        {% endif %}
                    {% endif %}
                    <input type="submit" name="submit" value="ثبت نام" class="submit">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
