{% extends 'cpanel/base.html' %}

{% block title %}Evafilm{% endblock %}

{% block breadcrumbitm %}
    <li class="breadcrumb-item"><a href="{% url 'admin_playlists' %} ">لیست فیلم و سریال ها</a></li>
    <li class="breadcrumb-item active">لیست دسته بندی ها</li>
{% endblock %}

{% block content %}
    <div class="container pt-4">
    <div>
        <h3 class="text-light float-right">لیست دسته بندی ها</h3>
        <a class="btn btn-success float-left mb-2" href="{% url 'admin_new_category' %}">دسته بندی جدید</a>
    </div>
    <div class="table-responsive">
    <table class="table table-striped" dir="rtl">
        <thead class="thead-dark">
            <tr class="text-light">
                <th>نام انگلیسی</th>
                <th>نام فارسی</th>
                <th>الویت</th>
                <th> </th>
            </tr>
        </thead>
        <tbody class="text-light">

            {% for category in categories %}
            <tr>
                <td class="align-middle">
                    {{ category.name_en }}
                </td>
                <td class="align-middle">
                    {{ category.name_fa }}
                </td>
                <td class="align-middle">
                    {{ category.index }}
                </td>
                <td>
                    <a class="btn btn-secondary text-light" href="{% url 'admin_edit_category' category.pk %}">ویرایش</a>
{#                    <a class="btn btn-danger text-light" href="{% url 'admin_delete_category' category.pk %}">حذف</a>#}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
{% endblock %}
