{% load static %}
<footer class="foot">
	<div class="main-foot">
		<div class="menu-%d9%81%d9%88%d8%aa%d8%b1-container"><ul id="menu-%d9%81%d9%88%d8%aa%d8%b1" class="menu">
			<li id="menu-item-182" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-182"><a href="{% url 'FAQ' %}">سوالات متداول</a></li>
			<li id="menu-item-183" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-183"><a href="{% url 'Subscription' %}">خرید اشتراک</a></li>
			<li id="menu-item-184" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-184"><a href="https://evafilm.stream/blog">مجله خبری ایوافیلم</a></li>
			<li id="menu-item-185" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-185"><a href="{% url 'Terms' %}">قوانین و مقررات</a></li>
			<li id="menu-item-186" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-186"><a href="{% url 'AboutUs' %}">درباره ما</a></li></ul>
		</div>
		<div class="social yc">
			<div class="right socialicons">
				<a href="https://t.me/evafilm_stream" class="right yc-center tg"><i class="fa fa-paper-plane"></i></a>
				<a href="https://instagram.com/_masstaneh" class="right yc-center in"><i class="fa fa-instagram"></i></a>
				<a href="#" class="right yc-center tw"><i class="fa fa-twitter"></i></a>
			</div>
			<div class="left enamad">
				<a referrerpolicy="origin" target="_blank" href="https://trustseal.enamad.ir/?id=216136&amp;Code=la0UsM208U6ak4v6GVMS"><img referrerpolicy="origin" style="width: 80px;" src="{% static 'x-logo/enamad.png' %}" alt="" style="cursor:pointer" id="la0UsM208U6ak4v6GVMS"></a>
				<a referrerpolicy="origin" target="_blank" href="https://logo.samandehi.ir/Verify.aspx?id=237630&amp;p=uiwkxlaojyoegvkaxlaoobpd"><img referrerpolicy="no-referrer-when-downgrade" id="nbqergvjjzpefukzrgvjesgt" alt="logo-samandehi" style="width: 80px;" src="{% static 'x-logo/samandehi.png' %}"></a>
			</div>
			<p class="yc yc-10 yc-400">تمامی حقوق این وبسایت متعلق به سرویس استریم آنلاین ایوافیلم می باشد. هر گونه استفاده جداگانه تنها با ذکر نام ایوا فیلم مجاز خواهد بود</p>
		</div>
	</div>
</footer>
