{% extends 'base(subscription).html' %}
{% load static %}
{% block title %}سوالات متداول{% endblock %}
{% block custom_css %}{% endblock %}

{% block content %}
<div class="yc pages">
	<div class="main-pages">
		<h1 class="yc-400 yc-align yc yc-23">درباره ما</h1>
		<div class="yc content">
              <p class="p-4 text-right">
                  توضیحات
              </p>
        </div>
    </div>
</div>

<script>
    jQuery(document).ready(function() {
        $('body').addClass('buy-body');
    });
</script>

{% endblock %}
