<!DOCTYPE html>
<html lang="fa" dir="rtl">
{% load static %}
{% load poll_extras %}
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    {% block keywords %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'x-logo/fave-icon/apple-touch-icon-57x57.png' %}">
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'x-logo/fave-icon/apple-touch-icon-60x60.png' %}">
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'x-logo/fave-icon/apple-touch-icon-72x72.png' %}">
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'x-logo/fave-icon/apple-touch-icon-76x76.png' %}">
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'x-logo/fave-icon/apple-touch-icon-114x114.png' %}">
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'x-logo/fave-icon/apple-touch-icon-120x120.png' %}">
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'x-logo/fave-icon/apple-touch-icon-144x144.png' %}">
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'x-logo/fave-icon/apple-touch-icon-152x152.png' %}">
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'x-logo/fave-icon/apple-touch-icon-180x180.png' %}">
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'x-logo/fave-icon/icon-192x192.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'x-logo/fave-icon/icon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'x-logo/fave-icon/icon-96x96.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'x-logo/fave-icon/icon-16x16.png' %}">
    <link rel="icon" type="image/png" sizes="512x512" href="{% static 'x-logo/fave-icon/icon-512x512.png' %}">
    <meta name=robots content="index, follow">
    <meta name="googlebot" content="index, follow">
    <link rel='stylesheet' id='style-css'  href="{% static 'style-imported/css/themes-evafilm-style.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='fonts-css'  href="{% static 'style-imported/css/themes-evafilm-assets-css-fonts.css' %}" type='text/css' media='all' />
    <link rel='stylesheet' id='custom-css'  href="{% static 'css/home_custom_style.css' %}" type='text/css' media='all' />
    <script type='text/javascript' src="{% static 'style-imported/js/themes-evafilm-assets-js-jquery.js' %}?ver=1.0" id='jquery-js'></script>
    {% block custom_css %}{% endblock %}

</head>

<body>

{% block header %} {% include 'includes/header.html' with header_type=""%} {% endblock %}

<div class="yc main-site">
{% block content %}

{% endblock %}
</div>

{% block footer %} {% include 'includes/footer.html' %} {% endblock %}

<div class="blur-page"></div>

{% block slide-menu %} {% include 'includes/slide-menu.html' %} {% endblock %}

{% search_posts %}

<script type='text/javascript' src="{% static 'style-imported/js/themes-evafilm-assets-js-ajax.js' %}?ver=1.0" id='ajax-js-js'></script>
<script type='text/javascript' src="{% static 'style-imported/js/themes-evafilm-assets-js-lstyl.js' %}?ver=1.0" id='ajax-js-jss'></script>
<script type='text/javascript' src="{% static 'style-imported/js/includes-js-wp-embed.min.js'%}?ver=1.0" id='wp-embed-js' ></script>
<script type='text/javascript' src="{% static 'style-imported/js/themes-evafilm-assets-js-owl.carousel.js'%}?ver=1.0" id='owl-carousel-js' ></script>
<script type='text/javascript' src="{% static 'style-imported/js/themes-evafilm-assets-js-java.js' %}?ver=1.0" id='java-js'></script>
<script type='text/javascript' src="{% static 'js/main.js' %}?ver=1.0" id='main-js'></script>
</body>

