{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
          integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    <!-- Our css -->
    <link rel="stylesheet" href="{% static 'css/dropdown-submenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_1.css' %}">
    <title>اپ سانسور</title>
</head>
<body>
<div class="container-fluid">
    <!-- Error Time -->
    <div class="row mx-auto mt-5">
        <div class="col-12 col-sm-12 col-lg-12 my-1 col-xl-12 mx-auto">
            <p class="text-center text-warning lead">شما نمی توانید در یک زمان دو نوع سانسور داشته باشید هر سانسور
                باید
                یونیک باشد</p>
            {% if not pk %}
                <a class="btn btn-block btn-outline-warning float-left"
                   href="{% url 'MiddelCensor' pl sn ed %}">بازگشت</a>
            {% else %}
                <a class="btn btn-block btn-outline-warning float-left"
                   href="{% url 'MiddelCensorEdit' pl sn ed pk 0 %}">بازگشت</a>
            {% endif %}
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="{% static 'js/dropdown-submenu.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
        crossorigin="anonymous"></script>
</body>
</html>