{% extends 'base.html' %}

{% block title %}حریم خصوصی کاربر{% endblock %}
{% block body %} <body class="light-theme"> {% endblock %}

{% block content %}

    <main class="p-5">
        <div class="row justify-content-center">
            <div class="col-md-7">
                <p class="text-center">حریم خصوصی کاربر</p>
                <div class="card-description">
                    <div class="p-4 text-right">
                        <p class="p-1">
                            ایوافیلم همواره اصول محرمانگی را در مورد اطلاعات شخصی کاربر را رعایت کرده و از این اطلاعات به نحو احسن محافظت می نماید. ایوافیلم اطلاعات شخصی کاربران را در اختیار اشخاص ثالث قرار نخواهد داد. البته به استثنای مواردی که به موجب قانون موظف به انجام این کار باشد. چنانچه این اطلاعات به صورت غیر عمد یا بدون اطلاع و رضایت ما در دسترس شخص ثالثی قرار گیرد، ایوافیلم مسئولیتی نخواهد داشت.
                            </br>
                            ایوافیلم اطلاعاتی که از حساب کاربران به طور خودکار بدست می آورد جهت تحلیل، بررسی و شخصی سازی خدمات خود و ارائه پیشنهادات ویژه ی نزدیک تر به سلیقه کاربران استفاده خواهد کرد. این اطلاعات به ایوافیلم کمک می کند تا سرویس خود را بهبود بخشیده و محتوای مرتبط تری با علایق هر کاربر به ایشان ارایه کند.
                            </br>
                            ایوافیلم این اختیار را دارد، هنگام پخش فیلم به فراخور زمان و محتوا، برای کاربر تبلیغ نمایش دهد.
                            </br>
                            ایوافیلم جهت ارائه بهتر سرویس خود و اطلاع رسانی در خصوص طرح های ویژه و پیشنهاد تماشای فیلم های جدید و ...، ممکن است از طریق ایمیل یا شماره تلفن همراه ثبت شده، اقدام به ارسال اطلاعاتی برای کاربران نماید. شما همواره می توانید با کلیک کردن بر روی دکمه لغو اشتراک در انتهای ایمیلهای اطلاع رسانی آنها را غیرفعال کنید.
                            </br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </main>




{#                            #}
{#    <div class="container pt-4">#}
{#        <div class="row justify-content-center">#}
{#            <div class="col-md-1 col-lg-12">#}
{#                <div class="card  bg-light">#}
{#                    <div class="card-body">#}
{#                        <h2 class="card-title text-dark text-right"></h2>#}
{#                        <p class="text-dark">#}
{#                            ایوافیلم همواره اصول محرمانگی را در مورد اطلاعات شخصی کاربر را رعایت کرده و از این اطلاعات به نحو احسن محافظت می نماید. ایوافیلم اطلاعات شخصی کاربران را در اختیار اشخاص ثالث قرار نخواهد داد. البته به استثنای مواردی که به موجب قانون موظف به انجام این کار باشد. چنانچه این اطلاعات به صورت غیر عمد یا بدون اطلاع و رضایت ما در دسترس شخص ثالثی قرار گیرد، ایوافیلم مسئولیتی نخواهد داشت.#}
{#                            </br>#}
{#                            ایوافیلم اطلاعاتی که از حساب کاربران به طور خودکار بدست می آورد جهت تحلیل، بررسی و شخصی سازی خدمات خود و ارائه پیشنهادات ویژه ی نزدیک تر به سلیقه کاربران استفاده خواهد کرد. این اطلاعات به ایوافیلم کمک می کند تا سرویس خود را بهبود بخشیده و محتوای مرتبط تری با علایق هر کاربر به ایشان ارایه کند.#}
{#                            </br>#}
{#                            ایوافیلم این اختیار را دارد، هنگام پخش فیلم به فراخور زمان و محتوا، برای کاربر تبلیغ نمایش دهد.#}
{#                            </br>#}
{#                            ایوافیلم جهت ارائه بهتر سرویس خود و اطلاع رسانی در خصوص طرح های ویژه و پیشنهاد تماشای فیلم های جدید و ...، ممکن است از طریق ایمیل یا شماره تلفن همراه ثبت شده، اقدام به ارسال اطلاعاتی برای کاربران نماید. شما همواره می توانید با کلیک کردن بر روی دکمه لغو اشتراک در انتهای ایمیلهای اطلاع رسانی آنها را غیرفعال کنید.#}
{#                            </br>#}
{#                        </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}

{% endblock %}