<div class="search-box yc">
    <div class="main searchf">
        <form class="yc" action="{% url 'search_page' %}" method="get">
        {{ form.query }}
            <input type="submit" value="" class="right yc-pointer">
        </form>
        <span class="yc yc-fff" id="close-search"><i class="fa fa-close"></i> <samp>بستن</samp></span>
        <div class="yc search-content yc-center">
            <div class="content">
                <div class="yc yc-fff icons">
                    <i class="fa fa-file"></i>
                    <i class="fa fa-search"></i>
                </div>
                <p class="yc yc-fff yc-14 yc-medium">عنوان فیلم، سریال یا بازیگر مورد نظر خود را جستجو کنید تا براحتی بتوانید فیلم و سریال مورد علاقه خود را پیدا کنید.</p>
            </div>
        </div>
    </div>
</div>


