{% extends 'base(subscription).html' %}

{% block title %}قوانین و مقررات{% endblock %}


{% block content %}


 <div class="yc pages">

       <div class="main-pages">
         <h1 class="yc-400 yc-align yc yc-23">درباره ما</h1>
<div class="yc content">



                        <p class="p-1">
                            کاربر گرامی؛ ضمن تشکر از انتخاب ایوافیلم لازم است پیش از خرید مورد نظر و تماشای فیلم و سریال، توافقنامه و قوانین ذیل را مطالعه فرمایید، ایوافیلم سرویس خود را تحت شرایط و مقررات این توافقنامه در اختیار شما می گذارد و شما به عنوان کاربران این سرویس ملزم به رعایت مفاد مذکور در این توافقنامه که ممکن است در آینده تغییر یابد، هستید.
                            </br>
                            تمامی محتواهای ارایه شده در سرویس ایوافیلم در چارچوب قوانین و مقررات جمهوری اسلامی ایران می باشد.
                            </br>
                            برای دسترسی به نمایش محتوای مورد نظر، کاربر باید اقدام به خرید اشتراک نماید. خرید اشتراک در واقع به منزله خرید دسترسی به محتواهای ایوافیلم می باشد.
                            </br>
                            ایوافیلم در صورت مشاهده هرگونه اقدام غیر متعارف برای دسترسی به اشتراک، خرید و ورود، این حق را دارد که این اقدامات غیرمجاز را متوقف و در ادامه اشتراک کاربر را لغو کند.
                            </br>
                            تعداد محتواهایی که کاربران با خرید اشتراک به آنها دسترسی پیدا می کنند ممکن است پیش از پایان مدت اعتبار اشتراک، تغییر یافته و فیلم ها یا سریال هایی به مجموع محتواها اضافه یا از آن حذف گردد. همچنین ممکن است با تغییر مکان جغرافیایی خود به سایر کشورها، دسترسی به تعدادی از محتواها که اجازه نشر در خارج از کشور ندارند را از دست بدهید.
                            </br>
                            استفاده از سرویس ایوافیلم هیچگونه حقی را برای کاربران در ارتباط با مالکیت فیلم ها، سریال ها و به طور کلی هر محتوای ارائه شده و انتشار یا پخش عمومی آنها چه از طریق سرویس ایوافیلم و چه از طرق دیگر ایجاد نمی کند.
                            </br>
                            ایوافیلم هیچ مسئولیتی در قبال مشکلات سخت افزاری یا نرم افزاری یا هر زیان دیگری که در نتیجه استفاده از این سرویس متوجه کامپیوتر یا تلفن هوشمند یا ... کاربر یا دیگران شود ندارد.
                            </br>
                            ایوافیلم این حق را دارد که در صورت نیاز تغییراتی در قوانین ایجاد کرده یا مانع دسترسی به بعضی از قسمت های سرویس یا همه سرویس بطور موقت یا دائمی شود.
                            </br>
                            ایوافیلم با داشتن تنوع محتوایی این اختیار را به کاربر داده است تا خود طبق علایق و سلایق شخصی و اجتماعی خود، فیلم مورد نظر خود را تماشا نماید، ما هیچ تضمینی بر اعتبار آنها و تاثیر مثبت یا منفی آنها بر مخاطب نخواهیم داشت.
                            </br>
                            ممکن است در آینده تغییراتی در این توافقنامه ایجاد شود که شامل نه محدود به حذف یا اضافه کردن مطالب و قوانینی به آن است که بلافاصله از نظر مسئولان سرویس لازم الاجراست. لذا کاربر موظف به مرور قوانین طی استفاده از سرویس ایوافیلم است تا از تغییرات احتمالی آن آگاه گردد. این تغیرات در شبکه های اجتماعی ایوافیلم به اطلاع کاربران خواهد رسید.
                            </br>
                            در قسمت مربوط به نظرات کاربران، انتشار مطالب خلاف یا نقض کننده قوانین جمهوری اسلامی ایران، مضر، تهدید کننده، توهین آمیز، غیر اخلاقی، افترا آمیز و مبتذل و همچنین مطالبی که به نژاد، گروه یا دسته خاصی از مردم توهین کند، ممنوع است در قسمت مربوط به نظرات کاربران، قرار دادن لینک هایی به سایت های غیر قانونی، غیر اخلاقی یا مبتذل و همینطور سایت هایی که به هر نحو مناسبات فرهنگی، اخلاقی، عرفی یا قانونی جامعه را زیر پا می گذارند یا با قوانین جمهوری اسلامی ایران مغایرند، ممنوع است.
                            </br>
                            هر کاربر در ایوافیلم حق ایجاد یک نام کاربری را دارد و ایجاد چند نام کاربری برای یک نفر جهت استفاده بیشتر از تسهیلاتی که برخی اوقات توسط ایوافیلم در اختیار کاربران قرار می گیرد، ممنوع است. همچنین کاربران ایوافیلم حق واگذاری نام کاربری خود به فرد دیگر و یا استفاده از نام کاربری فرد دیگر را ندارند.
                            </br>
                            محتواهای موجود توسط یک تهیه‌کننده یا شرکت تولیدی فیلم تهیه شده است. ایوافیلم تنها یک بستر نمایش این محتواها بوده و نقشی در تولید آنها نداشته، از اینرو مسئولیتی در قبال محتوای ارائه شده ندارد.
                            </br>
                            درصورت بروز شرایط فورس ماژور (مانند سیل، زلزله، بلایای طبیعی و...) و پیش آمدهای خارج از کنترل ایوافیلمکه منجر به قطع سرویس و ارائه خدمات شود، تا زمان برطرف شدن مشکل، این قرارداد معلق خواهد شد.
                            </br>
                            این توافقنامه مشروعیت و اعتبار خود را از قوانین حاکم بر جمهوری اسلامی ایران کسب می کند.
                        </p>
                    </div>
                </div>
                </div>
                <script>
                    jQuery(document).ready(function() {
                        $('body').addClass('buy-body');
                    });
                </script>
{% endblock %}
